.search-wrapper .search-field {
  width: 26vw;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  font-family: "Poppins";
  padding: 6px 14px;
}
.search-wrapper .search-field:focus {
  outline: 0;
  box-shadow: none;
}

.search-wrapper .search-button {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
  box-shadow: none;
  outline: 0;
  padding: 6px 12px;
  border-radius: 6px;
  font-family: "Poppins";
}

@media (max-width: 768px) {
  .search-wrapper .search-field {
    width: 95vw;
  }
}
